<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingyuechunqiu.recordermanager">

    <application>
        <activity
            android:name=".ui.activity.RecordVideoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait" />
    </application>
</manifest>
