<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mingyuechunqiu.recordermanager">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".feature.main.container.RecordVideoActivity"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
    </application>

</manifest>
